# ESP-IDF
**/build/
*.bin
*.elf
*.map
**/sdkconfig
**/sdkconfig.old

# STM32CubeIDE / Makefile
**/Debug/
**/Release/
.mxproject
*.launch

# OS specific
.DS_Store
Thumbs.db

# C/C++ build artifacts
*.o
*.a
*.so
*.dll
*.exe
*.out
*.app

# IDEs
.vscode/
.idea/
